In [3]:
import os
import pandas as pd

In [4]:
pwd = os.getcwd()
pwd

'c:\\Users\\Enes Ceman\\Desktop\\PythonExercise\\Shashank SurveyMonkey'

In [6]:
dataset = pd.read_excel(pwd + '\\Data_Edited.xlsx', sheet_name='Edited_Data')
dataset

     Respondent ID  ... Question 30 - Response 3
0       5379192392  ...                      NaN
1       2658722536  ...                 Answer 1
2       4044163394  ...                      NaN
3       5535865599  ...                 Answer 6
4       3356802928  ...                 Answer 8
..             ...  ...                      ...
193     7940065082  ...                 Answer 8
194     5157705612  ...                 Answer 6
195     9920755555  ...                      NaN
196     6638341389  ...                      NaN
197     8114622230  ...                      NaN

[198 rows x 100 columns]

In [7]:
dataset_modified = dataset.copy()
dataset_modified

     Respondent ID  ... Question 30 - Response 3
0       5379192392  ...                      NaN
1       2658722536  ...                 Answer 1
2       4044163394  ...                      NaN
3       5535865599  ...                 Answer 6
4       3356802928  ...                 Answer 8
..             ...  ...                      ...
193     7940065082  ...                 Answer 8
194     5157705612  ...                 Answer 6
195     9920755555  ...                      NaN
196     6638341389  ...                      NaN
197     8114622230  ...                      NaN

[198 rows x 100 columns]

In [9]:
columns_to_drop = ['Start Date', 'End Date', 'Email Address', 'First Name', 'Last Name', 'Custom Data 1']
columns_to_drop

['Start Date',
 'End Date',
 'Email Address',
 'First Name',
 'Last Name',
 'Custom Data 1']

In [10]:
dataset_modified = dataset_modified.drop(columns=columns_to_drop)
dataset_modified

     Respondent ID  ... Question 30 - Response 3
0       5379192392  ...                      NaN
1       2658722536  ...                 Answer 1
2       4044163394  ...                      NaN
3       5535865599  ...                 Answer 6
4       3356802928  ...                 Answer 8
..             ...  ...                      ...
193     7940065082  ...                 Answer 8
194     5157705612  ...                 Answer 6
195     9920755555  ...                      NaN
196     6638341389  ...                      NaN
197     8114622230  ...                      NaN

[198 rows x 94 columns]

In [21]:
id_vars = list(dataset_modified.columns)[:8]
value_vars = list(dataset_modified)[8:]
#value_vars

In [23]:
dataset_melted = dataset_modified.melt(id_vars=id_vars, value_vars=value_vars, var_name = 'Question_Subquestion', value_name='Answer')
dataset_melted

       Respondent ID  ...    Answer
0         5379192392  ...       NaN
1         2658722536  ...  Answer 4
2         4044163394  ...  Answer 5
3         5535865599  ...  Answer 1
4         3356802928  ...       NaN
...              ...  ...       ...
17023     7940065082  ...  Answer 8
17024     5157705612  ...  Answer 6
17025     9920755555  ...       NaN
17026     6638341389  ...       NaN
17027     8114622230  ...       NaN

[17028 rows x 10 columns]

In [26]:
questions_import = pd.read_excel(pwd + '\\Data_Questions.xlsx', sheet_name='Question')
questions_import

     Raw_Question Raw_Subquestion  ...  Subquestion       Question_Subquestion
0   Respondent ID             NaN  ...  Subquestion              Respondent ID
1      Start Date             NaN  ...  Subquestion                 Start Date
2        End Date             NaN  ...  Subquestion                   End Date
3   Email Address             NaN  ...  Subquestion              Email Address
4      First Name             NaN  ...  Subquestion                 First Name
..            ...             ...  ...          ...                        ...
95            NaN     Response 13  ...  Response 13  Question 29 - Response 13
96            NaN     Response 14  ...  Response 14  Question 29 - Response 14
97    Question 30      Response 1  ...   Response 1   Question 30 - Response 1
98            NaN      Response 2  ...   Response 2   Question 30 - Response 2
99            NaN      Response 3  ...   Response 3   Question 30 - Response 3

[100 rows x 5 columns]

In [27]:
questions = questions_import.copy()

In [28]:
questions.drop(columns = ["Raw_Question", "Raw_Subquestion", "Subquestion"], inplace=True)

In [29]:
questions

         Question       Question_Subquestion
0   Respondent ID              Respondent ID
1      Start Date                 Start Date
2        End Date                   End Date
3   Email Address              Email Address
4      First Name                 First Name
..            ...                        ...
95    Question 29  Question 29 - Response 13
96    Question 29  Question 29 - Response 14
97    Question 30   Question 30 - Response 1
98    Question 30   Question 30 - Response 2
99    Question 30   Question 30 - Response 3

[100 rows x 2 columns]

In [31]:
dataset_merged = pd.merge(left = dataset_melted, right = questions, how = 'left', left_on = 'Question_Subquestion', right_on = 'Question_Subquestion')
dataset_merged

       Respondent ID  ...     Question
0         5379192392  ...   Question 1
1         2658722536  ...   Question 1
2         4044163394  ...   Question 1
3         5535865599  ...   Question 1
4         3356802928  ...   Question 1
...              ...  ...          ...
17023     7940065082  ...  Question 30
17024     5157705612  ...  Question 30
17025     9920755555  ...  Question 30
17026     6638341389  ...  Question 30
17027     8114622230  ...  Question 30

[17028 rows x 11 columns]

In [36]:
dataset_merged.groupby('Question')['Respondent ID'].nunique().reset_index()

       Question  Respondent ID
0    Question 1            198
1   Question 10            198
2   Question 11            198
3   Question 12            198
4   Question 13            198
5   Question 14            198
6   Question 15            198
7   Question 16            198
8   Question 17            198
9   Question 18            198
10  Question 19            198
11   Question 2            198
12  Question 20            198
13  Question 21            198
14  Question 22            198
15  Question 23            198
16  Question 24            198
17  Question 25            198
18  Question 26            198
19  Question 27            198
20  Question 28            198
21  Question 29            198
22   Question 3            198
23  Question 30            198
24   Question 4            198
25   Question 5            198
26   Question 6            198
27   Question 7            198
28   Question 8            198
29   Question 9            198

In [44]:
respondents = dataset_merged[dataset_merged['Answer'].notna()]
respondents = respondents.groupby('Question')['Respondent ID'].nunique().reset_index()
respondents.rename(columns = {'Respondent ID':'Respondents'}, inplace=True)
respondents

       Question  Respondents
0    Question 1          119
1   Question 10          198
2   Question 11          164
3   Question 12          114
4   Question 13          108
5   Question 14          105
6   Question 15          114
7   Question 16          117
8   Question 17          135
9   Question 18          109
10  Question 19          157
11   Question 2          118
12  Question 20          105
13  Question 21          127
14  Question 22          160
15  Question 23          120
16  Question 24          195
17  Question 25          198
18  Question 26          193
19  Question 27          153
20  Question 28          119
21  Question 29          198
22   Question 3          117
23  Question 30          182
24   Question 4          161
25   Question 5          194
26   Question 6          196
27   Question 7          162
28   Question 8          190
29   Question 9          188

In [45]:
dataset_merged_two = pd.merge(left = dataset_merged, right = respondents, how = 'left', left_on = 'Question', right_on = 'Question')
print('Original Data', len(dataset_merged))
print('New Data', len(dataset_merged_two))
dataset_merged_two

Original Data 17028
New Data 17028

       Respondent ID  ... Respondents
0         5379192392  ...         119
1         2658722536  ...         119
2         4044163394  ...         119
3         5535865599  ...         119
4         3356802928  ...         119
...              ...  ...         ...
17023     7940065082  ...         182
17024     5157705612  ...         182
17025     9920755555  ...         182
17026     6638341389  ...         182
17027     8114622230  ...         182

[17028 rows x 12 columns]

In [46]:
same_answer = dataset_merged # [dataset_merged['Answer'].notna()]
same_answer = same_answer.groupby(['Question_Subquestion', 'Answer'])['Respondent ID'].nunique().reset_index()
same_answer.rename(columns = {'Respondent ID':'Same_Answer'}, inplace=True)
same_answer

        Question_Subquestion    Answer  Same_Answer
0      Question 1 - Response  Answer 1           14
1      Question 1 - Response  Answer 2           10
2      Question 1 - Response  Answer 3           13
3      Question 1 - Response  Answer 4           17
4      Question 1 - Response  Answer 5           22
..                       ...       ...          ...
683  Question 9 - Response 4  Answer 4           16
684  Question 9 - Response 4  Answer 5           13
685  Question 9 - Response 4  Answer 6           14
686  Question 9 - Response 4  Answer 7           12
687  Question 9 - Response 4  Answer 8           19

[688 rows x 3 columns]

In [48]:
dataset_merged_three = pd.merge(left = dataset_merged_two, right = same_answer, how = 'left', left_on = ['Question_Subquestion', 'Answer'], right_on = ['Question_Subquestion', 'Answer'])
dataset_merged_three['Same_Answer'].fillna(0, inplace=True)
print('Original Data', len(dataset_merged_two))
print('New Data', len(dataset_merged_three))
dataset_merged_three

Original Data 17028
New Data 17028

       Respondent ID  ... Same_Answer
0         5379192392  ...         0.0
1         2658722536  ...        17.0
2         4044163394  ...        22.0
3         5535865599  ...        14.0
4         3356802928  ...         0.0
...              ...  ...         ...
17023     7940065082  ...        14.0
17024     5157705612  ...        20.0
17025     9920755555  ...         0.0
17026     6638341389  ...         0.0
17027     8114622230  ...         0.0

[17028 rows x 13 columns]

In [51]:
output = dataset_merged_three.copy()
output.rename(columns = {"Identify which division you work in. - Response":"Division_Primary", "Identify which division you work in. - Other (please specify)":"Division_Secondary",	"Which of the following best describes your position level? - Response":"Position", "Which generation are you apart of? - Response":"Generation",	"Please select the gender in which you identify. - Response":"Gender",	"Which duration range best aligns with your tenure at your company? - Response":"Tenure",	"Which of the following best describes your employment type? - Response":"Employment_Type"}, inplace=True)
output

       Respondent ID        Division_Primary  ... Respondents Same_Answer
0         5379192392          Infrastructure  ...         119         0.0
1         2658722536                 Finance  ...         119        17.0
2         4044163394          Infrastructure  ...         119        22.0
3         5535865599          Infrastructure  ...         119        14.0
4         3356802928         Port Operations  ...         119         0.0
...              ...                     ...  ...         ...         ...
17023     7940065082          Infrastructure  ...         182        14.0
17024     5157705612                 Finance  ...         182        20.0
17025     9920755555         Port Operations  ...         182         0.0
17026     6638341389          Infrastructure  ...         182         0.0
17027     8114622230  Information Technology  ...         182         0.0

[17028 rows x 13 columns]

In [52]:
output.to_excel(pwd + '\\Final_Output.xlsx', index=False)